VITE_SUPABASE_URL=https://iaejvwobzfnwhkcncjgk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhZWp2d29iemZud2hrY25jamdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUzMDk1OTgsImV4cCI6MjEwMDg4NTU5OH0.JEE7vkVuZhxmGRSBv-_CyiTfIYAXzWwwmLrAbgF2p9k
